*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
            font-family: Arial, Helvetica, sans-serif;
            width: 600px;
            height: 500px; 
            background: url(istockphoto-822175382-612x612.jpg) no-repeat center center;
            background-size: cover; 
            background-color: rgba(0, 0, 0, 0.5);
            background-blend-mode: overlay; 
            padding: 20px;
            border-radius: 10px;
            text-align: center;
            color: white;
            box-sizing: border-box; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 80px 500px;
            border: #e04343 solid 2px;

} 
.form1 {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 500px;
    text-align: center;
    color: white;
    margin-left: 30px;
}
.form1 img{
border-radius: 50%;
border: #e04343 solid 2px;
align-items: center;


}
.form1 h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}
.form1 {
    margin-bottom: 15px;
    text-align: center;
}
.form1 label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    text-align: left;
}
.form1 input[type="email"],
.form1 input[type="password"] {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;
    font-size: 14px;
    background-color: transparent;
    color: white;
    box-sizing: border-box;
    
}
.form1 input[type="email"],
.form1 input[type="password"]{
    color: #e04343;
    opacity: 0.8;

}

button {
    width: 100%;
    padding: 10px;
    background-color: #ff4d4d;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e04343;
}
.checkbox {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.checkbox input[type="checkbox"] {
    margin-right: 5px;
}
.checkbox label {
    font-size: 14px;
    color: white;
}